<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/stylesheets/app.css" rel="stylesheet" type="text/css">
 
   
    <title>Weather App</title>
  </head>
  <body>
    
      <div class="container">
        <div class="wrapper">
        <h1> ACCU WEATHER </h1>
        <h5>YOUR DESTINATION FOR ACCURATE WEATHER </h5>
    <form action="/" method="POST">
      <div class="searchbar">
      <input type="text" name="location" placeholder="Enter the City Name" />
    </div>
     <button>SEARCH</button>
    </form>
  </div>
</div>
  </body>
</html>
